Resources:
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      LaunchTemplate:
        LaunchTemplateName: "ebtemplate"
        Version: "1"  # Ensure this matches the version of your template
      MinSize: 1
      MaxSize: 4
      VPCZoneIdentifier: 
        - !Select [ 0, !GetAtt AWSEBLoadBalancer.Subnets ]  # Ensures the Auto Scaling group launches instances in the correct VPC
